{{>head}}
{{>navbar}}

<div class="col pt-3">
    <div class="vstack gap-3">
        <h3 class="mx-auto">{{playlists.0.name}}</h3>
        {{!-- SONGS 1 --}}
        {{#each songs}}
        <div class="bg-card black border-rad-10 shadow w-75 mx-auto">
            <div class="songs p-2">
                <div class="song-item d-flex bd-highlight">
                    <div class="p-2 bd-highlight">
                        <img class="rounded-circle square" src="/uploads/{{this.cover_music}}" alt="{{this.title}}">
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="song-info">
                            <a href="/artist/{{this.artist_id}}" class="fs-5 m-0">{{this.name}}</a>
                            <p class="fw-light m-0">{{this.title}}</p>
                        </div>
                    </div>
                    <div class="ms-auto p-2 bd-highlight d-flex">
                        <audio controls class="me-3 audio-index">
                            <source src="/uploads/{{this.music}}">
                        </audio>
                        <div>
                            <button type="button" class="btn bg-card dropdown-toggle dropdown-toggle-split my-1 me-2" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu align-items-center">
                            <li><a class="dropdown-item" href="#">Add to playlists</a></li>
                            <li><a class="dropdown-item" href="/songs/edit/{{this.music_id}}">Edit</a></li>
                            <li><a class="dropdown-item" href="/songs/delete/{{this.music_id}}">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="text-center fw-bold my-3">
            <a href="/songs">See all songs</a>
        </div>
    </div>
</div>