{{>head}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

{{>navbar}}

<div class="container">
    <div class="d-flex bd-highlight">
        {{!-- SIDEBAR --}}
        <div class="p-2 flex-shrink-1 bd-highlight">
            <div class="d-flex flex-column flex-shrink-0">
                <ul class="list-group">
                    <li class="list-group-item bg-brokenwhite"><a href="#" class="fs-3"><i class="bi bi-house-door-fill pale-blue"></i></i></a>
                    </li>
                    <li class="list-group-item bg-brokenwhite"><a href="#" class="fs-3"><i class="bi bi-compass-fill pale-blue"></i></a>
                    </li>
                    <li class="list-group-item bg-brokenwhite"><a href="#" class="fs-3"><i class="bi bi-mic-fill pale-blue"></i></a></i>
                    </li>
                </ul>
            </div>
        </div>
        {{!-- MAIN VIEW --}}
        <div class="p-2 w-100 bd-highlight pb-5">
            {{!-- PLAYLSTS --}}
            <section id="playlist" class="bg-brokenwhite p-3">
                <div class="container">
                    <div class="row g-4">
                        {{!-- PLAYLIST 1 --}}
                        <div class="col-md-6 col-lg-3">
                            <div class="card bg-primary card-border shadow-lg">
                                <div class="card-body text-center text-white">
                                    <img class="rounded-circle mb-3 img-fluid card-img" src="/static/images/playlist1.png" alt="">
                                    <div class="text-center d-flex">
                                        <button class="btn btn-success btn-sm rounded-circle square my-auto"><i class="fas fa-caret-right fs-2"></i></i></button>
                                        <div class="d-flex flex-column ms-2">
                                            <h2 class="card-title fs-5">Playlist 1</h3>
                                            <p>Updates every friday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- PLAYLIST 2 --}}
                         <div class="col-md-6 col-lg-3">
                            <div class="card bg-orange card-border shadow-lg">
                                <div class="card-body text-center text-white">
                                    <img class="rounded-circle mb-3 img-fluid card-img" src="/static/images/playlist2.png" alt="">
                                    <div class="text-center d-flex">
                                        <button class="btn btn-success btn-sm rounded-circle square my-auto"><i class="fas fa-caret-right fs-2"></i></i></button>
                                        <div class="d-flex flex-column ms-2">
                                            <h2 class="card-title fs-5">Playlist 2</h3>
                                            <p>Updates every friday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- PLAYLIST 3 --}}
                         <div class="col-md-6 col-lg-3">
                            <div class="card bg-warning card-border shadow-lg">
                                <div class="card-body text-center text-white">
                                    <img class="rounded-circle mb-3 img-fluid card-img" src="/static/images/playlist3.png" alt="">
                                    <div class="text-center d-flex">
                                        <button class="btn btn-success btn-sm rounded-circle square my-auto"><i class="fas fa-caret-right fs-2"></i></i></button>
                                        <div class="d-flex flex-column ms-2">
                                            <h2 class="card-title fs-5">Playlist 3</h3>
                                            <p>Updates every friday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- PLAYLIST 4 --}}
                         <div class="col-md-6 col-lg-3">
                            <div class="card bg-purple card-border shadow-lg">
                                <div class="card-body text-center text-white">
                                    <img class="rounded-circle mb-3 img-fluid card-img" src="/static/images/playlist4.png" alt="">
                                    <div class="text-center d-flex">
                                        <button class="btn btn-success btn-sm rounded-circle square my-auto"><i class="fas fa-caret-right fs-2"></i></i></button>
                                        <div class="d-flex flex-column ms-2">
                                            <h2 class="card-title fs-5">Playlist 3</h3>
                                            <p>Updates every friday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {{!-- MENUS --}}
            <div class="container mt-5">
                <div class="row">
                    {{!-- GENRES --}}
                    <div class="col-md-3 border py-3 bg-card border-rad-10 shadow">
                        <h1 class="fs-3 text-center black">Genres</h1>
                        {{!-- GENRE BUTTON --}}
                        <div class="container">
                            <div class="row row-cols-2">
                                {{#each genres}}
                                <div class="col g-3"><a href="/songs/genres/{{this.genre_id}}" class="btn btn-outline-dark border-rad-10">{{this.name}}</a></div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{!-- Song Player --}}
                    <div class="col pt-3">
                        <div class="vstack gap-3">
                            <h3>My songs</h3>
                            {{!-- SONGS 1 --}}
                            {{#each songs}}
                            <div class="bg-card black border-rad-10 shadow">
                                <div class="songs p-2">
                                    <div class="song-item d-flex bd-highlight">
                                        <div class="p-2 bd-highlight">
                                            <img class="rounded-circle square" src="/uploads/{{this.cover_music}}" alt="{{this.title}}">
                                        </div>
                                        <div class="p-2 bd-highlight">
                                            <div class="song-info">
                                                <a href="artist/{{this.artist_id}}" class="fs-5 m-0">{{this.name}}</a>
                                                <p class="fw-light m-0">{{this.title}}</p>
                                            </div>
                                        </div>
                                        <div class="ms-auto p-2 bd-highlight d-flex">
                                            <audio controls class="me-3 audio-index">
                                                <source src="/uploads/{{this.music}}">
                                            </audio>
                                            <div>
                                                <button type="button" class="btn bg-card dropdown-toggle dropdown-toggle-split my-1 me-2" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="visually-hidden">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu align-items-center">
                                                <li class="nav-item dropdown">
                                                    <li class="nav-item dropdown dropend">
                                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown dropstart" aria-expanded="false">
                                                            Add to playlist
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                                                        {{#each ../allPlaylists}}
                                                            <li><a class="dropdown-item" href="#" onclick="addToPlaylist({{this.playlist_id}}, {{../this.music_id}})">{{this.name}}</a></li>
                                                        {{/each}}
                                                        </ul>
                                                    </li>
                                                </li>
                                                <li><a class="dropdown-item" href="/songs/edit/{{this.music_id}}">Edit</a></li>
                                                <li><a class="dropdown-item" href="/songs/delete/{{this.music_id}}">Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <div class="text-center fw-bold my-3">
                                <a href="/songs">See all songs</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 bg-light border-rad-10 shadow customOverflow">
                        <div class="col pt-3">
                            <div class="vstack gap-3">
                                <h3 class="text-center">Your playlist</h3>
                                {{!-- PLAYLIST 1 --}}
                                {{#each playlists}}
                                <div class="bg-card black border-rad-10 shadow">
                                    <div class="songs p-2">
                                        <div class="song-item d-flex bd-highlight">
                                            <div class="p-2 bd-highlight">
                                                <div class="song-info">
                                                    <a href="/songs/playlist/{{this.playlist_id}}" class="link lead fw-bold fs-5 p-2 m-0">{{this.name}}</a>
                                                </div>
                                            </div>
                                            <div class="ms-auto p-2 bd-highlight">
                                                <button class="btn btn-outline-success btn-sm rounded-circle square-sm my-auto"><i class="fas fa-caret-right fs-3 ms-1"></i></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                <div class="text-center fw-bold my-3">
                                    <a href="/songs/playlists">See all playlists</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addToPlaylist(playlist_id, music_id){
        alert(playlist_id)
        alert(music_id)
    }
</script>